/*background cards*/
.container{
    display: inline-flex;
    flex-wrap: wrap ;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: url("../CreateRecipe/img.jpg");
    box-shadow:inset 5px 50px 40px 30px rgba(0, 0, 0, 0.678);
    background-size: 500px;
    min-height: 100px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 12px;
    width: 1350px;
    margin-left: 10px;
}

body{ background: url("../CreateRecipe/img.jpg");
background-size: 40%;

}
